@font-face {
  font-family: "UberMoveMedium";
  src: url("/font/UberMoveMedium.otf") format("opentype")
}
@font-face {
  font-family: "UberMoveBold";
  src: url("/font/UberMoveBold.otf") format("opentype")
}

* {
  padding: 0;
  margin: 0;
  font-family: "UberMoveMedium";
}

nav > div > a {
  cursor: pointer;
}

.content {
  font-size: 20px;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  background-color: #000;
  padding: 15px;
}
.content > span {
  font-size: 17px;
  border-radius: 30px;
  color: #000;
  border: 1px solid transparent;
  background-color: #ffffff;
  padding: 5px;
}
.content > a > span{
  padding-left: 3px;
  font-family: "UberMoveBold";
}
.banner {
  background-image: url("./img/kung-fu-2198043_1280.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  filter: grayscale(60%);
}
/*.banner > div { ?? */

.content > span {
  font-size: 17px;
  border-radius: 30px;
  color: #000;
  border: 1px solid transparent;
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
}
.banner {
  background-image: url("./img/kung-fu-2198043_1280.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
}
.banner > h1 {
  font-size: 40px;
  color: #ffffff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-size {
  height: 40px;
  width: 40px;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#hagar {
  background-color: #f6f6f6;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.signup-banner {
  display: flex;
  justify-content: space-around;
}
.signup-banner > a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}
.signup-banner > a:hover {
  color: #000;
}
.signup-banner > a > h2 {
  font-family: "uber-move-text", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  width: 11em;
  margin-right: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

.signup-banner > a,
svg {
  color: #000;
}

.comment img{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 2px;
}
.trustpiolot{
  display: flex;
  justify-content: space-between;

}
blockquote{
  quotes : "«" "»" '"' '"';

}



/* end page */
footer {
  /* height: 50vh; */
  background-color: #000;
  padding-bottom: 3em;
}
footer > div {
  color: white;
}
.footer-title {
  font-weight: 400;
}

.help {
  color: #fff;
  text-decoration: none;
}
.help:hover {
  color: #fff;
  padding-bottom: 2em;
  border-bottom: 1px solid #fff;
  /* text-decoration: underline; */
}
.grid {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}
.sub-nav h6 {
  font-family: "uber-move-text", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.sub-nav-list {
  list-style: none;
  padding: 0;
}

.sub-nav-list > li:first-child {
  padding-top: 1em;
}
.sub-nav-list > li {
  padding-bottom: 0.5em;
}
.sub-nav-list > li > a {
  color: #fff;
  text-decoration: none;
}
.sub-nav-list > li > a:hover {
  color: #afafaf;
}
.sub-nav-list > li:last-child {
  padding: 0;
}
.credit,
.privacy > li > a {
  font-size: small;
  color: #afafaf;
}
.credit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.privacy {
  padding: 0;
}
.privacy > li {
  display: inline;
  padding-right: 0.5em;
}

.privacy > li:last-of-type {
  padding: 0;
}

.privacy > li > a {
  text-decoration: none;
}
.privacy > li > a:hover {
  color: #545454;
}

@media (max-width: 1000px) {
  .signup-banner,
  .grid,
  .credit {
    flex-direction: column;
  }
  .signup-banner > a:first-of-type {
    margin: 0;
    /* color: red; */
  }

  .signup-banner > a {
    margin-top: 1.5em;
  }
}
