* {
  padding: 0;
  margin: 0;
}
.content {
  font-size: 20px;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  background-color: #000;
  padding: 15px;
}
footer {
  height: 50vh;
  background-color: #000;
}
footer > div {
  color: white;
}
.help {
  color: #fff;
  text-decoration: none;
}
.help :hover {
  text-decoration: underline;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1em;
}

.grid .sub-nav1 {
  grid-row: 1;
  grid-column: 1/4;
}

.grid .sub-nav2 {
  grid-row: 1;
  grid-column: 2/4;
}

.grid .sub-nav3 {
  grid-row: 1;
  grid-column: 3/4;
}

.grid .sub-nav4 {
  grid-row: 1;
  grid-column: 4/4;
}
